/* general style rules */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
    list-style-type: none
}

body {
    background-color: rgb(240, 240, 240);
}


/* header style */
header {
    background-color: white;
    height: 100px;
}

header img {
    height: 80px;
    padding-left: 10px;
    padding-top: 10px;
}

header span {
    color: black;
    font-size: 50px;
    font-weight: 800;
}


/* main body style */
main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 1%;
    margin-top: 50px;
    padding-bottom: 80px;
}

.container {
    padding-top: 20px;
    margin-left: 50px;
}

/* button section */
button {
    border: 0;
    border-radius: 10%;
    padding: 8px 8px;
}

#task_button {
    background-color: rgb(59, 172, 247);
    color: white;
    margin-right: 10px;
}

#section_button {
    background-color: white;
    color: gray;
    border: 1px solid gray;
}

/* to do section */
span {
    font-size: 20px;
    font-weight: 700;
}

section span {
    display: block;
    margin: 40px 0px 20px;
}

section span::before {
    content: "\25BC";
    margin-right: 10px;
    display: inline-block;
  }

  li {
    margin: 8px;
  }

  .task_done::before {
    content: "\2714";
    color: green;
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
  }

  .task::before {
    content: "\2715";
    color: red;
    border: 1px solid;
    border-radius: 450%;
    padding: 3px;
    font-size: 12px;
    margin-right: 10px;
    display: inline-block;
  }

  .task .task_done::before {

  }

  .task_section {

  }

  .task, .task_done {
    margin-top: 20px;
    margin-left: 10px;
  }